.upp-text { text-transform:uppercase!important;}
.sweet-alert fieldset { margin:0px; padding:0px!important;}
.msg_terms_click { color:#FF3333; font-size:13px;}

.nuke-overlay {width:100%; display:none; height:100%; background:url(../images/overlay-bg.png) repeat; z-index:1000; left:0; top:0; position:fixed;}
.nuke-modal-content { width:210px; display:none; margin:0 auto; padding:15px; background:#fff; z-index:1001; margin-top:18%; position:fixed; left:50%; right:50%; left:-300px; right:-300px;
-moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; border-radius:4px;}
